<template>
  <q-page class="flex flex-center">
    <h1>Bem vindo, {{ getUser.name }}!</h1>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue';
import { mapGetters } from 'vuex';

export default defineComponent({
  name: 'PageIndex',
  computed: {
    ...mapGetters('user', ['getUser'])
  }
})
</script>
