<template>
  <q-page class="row items-center justify-center">
    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12 text-center">
      <q-card
        class="
          bg-primary
          q-pa-lg
          row
          col-lg-8 col-md-8 col-sm-12 col-xs-12
          justify-center
        "
      >
        <q-input
          v-model="nickname"
          dark
          clear-icon="mail"
          class="text-white q-pa-lg col-8"
          label-color="white"
          label="Nickname"
          color="white"
        >
          <template v-slot:prepend>
            <q-icon color="white" name="mail_outline" />
          </template>
        </q-input>
        <q-input
          v-model="password"
          dark
          :type="isPwd ? 'password' : 'text'"
          clear-icon="mail"
          class="text-white q-pa-lg col-8"
          label-color="white"
          color="white"
          label="Password"
          @keydown.enter.prevent="login"
        >
          <template v-slot:prepend>
            <q-icon color="white" name="lock" />
          </template>
          <template>
            <q-icon
              size="25px"
              name="lock"
              class="cursor-pointer q-mt-md text-grey-7"
              @click="isPwd = !isPwd"
            ></q-icon>
          </template>
        </q-input>
        <q-btn class="col-6 text-white q-px-xl bg-secondary" no-caps @click="login()"
          >Login</q-btn
        >

        <q-btn
          class="text-white text-bold row col-12 q-mt-lg"
          type="a"
          flat
          no-wrap
          no-caps
          @click="$router.push('/register')"
        >
          Create account
        </q-btn>
      </q-card>
    </div>
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-0 col-xs-0 bannerLogin"></div>
  </q-page>
</template>

<script>
import { ref, defineComponent } from "vue";
import { mapActions } from "vuex";

export default defineComponent({
  name: "PageLogin",

  setup() {
    return {
      nickname: ref(""),
      password: ref(""),
      isPwd: ref(true),
    };
  },
  methods: {
    ...mapActions("user", ["loginUser"]),
    login() {
      this.$q.loading.show();
      this.loginUser({ nickname: this.nickname, password: this.password })
        .then((res) => {
          if (res.status === 200 && !res.data.error) {
            this.$router.push("/welcome");
            this.$q.loading.hide();
            this.$q.notify({
              position: "bottom",
              color: "positive",
              textColor: "white",
              icon: "check",
              message: "Login successful!",
            });
          } else {
            this.$q.loading.hide();
            this.$q.notify({
              position: "bottom",
              color: "negative",
              textColor: "white",
              icon: "error",
              message: res.data.error,
            });
          }
        })
        .catch((error) => {
          console.log(error);
          this.$q.loading.hide();
          this.$q.notify({
            position: "bottom",
            color: "negative",
            textColor: "white",
            icon: "error",
            message: error.data._error.message || "Error",
          });
        });
    },
  },
});
</script>
