<template>
  <q-page class="row justify-center">
    <div
      class="row col-xl-6 col-lg-10 col-md-10 col-sm-12 col-xs-12 justify-center"
    >
      <q-form
        @submit="register"
        class="
          row
          col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12
          text-center
          justify-center
          q-ma-lg
        "
      >
        <q-card
          class="
            bg-primary
            row
            justify-center
            col-lg-8 col-md-8 col-sm-12 col-xs-12
            q-pa-lg
          "
        >
          <q-input
            v-model="name"
            lazy-rules
            :rules="[
              (val) => (val && val.length > 0) || 'Please type something',
            ]"
            dark
            class="text-white col-lg-6 col-md-6 col-sm-12 col-xs-12 q-pa-lg"
            label-color="white"
            label="Name"
            color="white"
          >
            <template v-slot:prepend>
              <q-icon color="white" name="person" />
            </template>
          </q-input>
          <q-input
            v-model="surname"
            dark
            lazy-rules
            :rules="[
              (val) => (val && val.length > 0) || 'Please type something',
            ]"
            class="text-white col-lg-6 col-md-6 col-sm-12 col-xs-12 q-pa-lg"
            label-color="white"
            label="Surname"
            color="white"
          >
            <template v-slot:prepend>
              <q-icon color="white" name="person" />
            </template>
          </q-input>
          <q-input
            v-model="email"
            dark
            type="email"
            lazy-rules
            :rules="[
              (val) => (val && val.length > 0) || 'Please type something',
            ]"
            clear-icon="mail"
            class="text-white col-lg-6 col-md-6 col-sm-12 col-xs-12 q-pa-lg"
            label-color="white"
            label="Email"
            color="white"
          >
            <template v-slot:prepend>
              <q-icon color="white" name="mail_outline" />
            </template>
          </q-input>
          <q-input
            v-model="cpf"
            dark
            mask="###.###.###-##"
            unmasked-value
            lazy-rules
            :rules="[
              (val) => (val && val.length > 0) || 'Please type something',
            ]"
            clear-icon="mail"
            class="text-white col-lg-6 col-md-6 col-sm-12 col-xs-12 q-pa-lg"
            label-color="white"
            label="CPF"
            color="white"
          >
            <template v-slot:prepend>
              <q-icon color="white" name="person" />
            </template>
          </q-input>
          <q-input
            v-model="phone"
            dark
            lazy-rules
            :rules="[
              (val) => (val && val.length > 0) || 'Please type something',
            ]"
            clear-icon="mail"
            class="text-white col-lg-6 col-md-6 col-sm-12 col-xs-12 q-pa-lg"
            label-color="white"
            label="Phone"
            color="white"
          >
            <template v-slot:prepend>
              <q-icon color="white" name="phone" />
            </template>
          </q-input>
          <q-input
            v-model="nickname"
            dark
            lazy-rules
            :rules="[
              (val) => (val && val.length > 0) || 'Please type something',
            ]"
            clear-icon="mail"
            class="text-white col-lg-6 col-md-6 col-sm-12 col-xs-12 q-pa-lg"
            label-color="white"
            label="Nickname"
            color="white"
          >
            <template v-slot:prepend>
              <q-icon color="white" name="mail_outline" />
            </template>
          </q-input>
          <q-input
            v-model="password"
            dark
            lazy-rules
            :rules="[
              (val) => (val && val.length > 0) || 'Please type something',
            ]"
            type="password"
            clear-icon="mail"
            class="text-white q-pa-lg col-lg-6 col-md-6 col-sm-12 col-xs-12"
            label-color="white"
            color="white"
            label="Password"
          >
            <template v-slot:prepend>
              <q-icon color="white" name="lock" />
            </template>
            <template>
              <q-icon
                size="25px"
                name="lock"
                class="cursor-pointer q-mt-md text-grey-7"
                @click="isPwd = !isPwd"
              ></q-icon>
            </template>
          </q-input>

          <q-input
            v-model="confirmPassword"
            dark
            lazy-rules
            :rules="[
              (val) => (val && val.length > 0) || 'Please type something',
            ]"
            type="password"
            clear-icon="mail"
            class="text-white q-pa-lg col-lg-6 col-md-6 col-sm-12 col-xs-12"
            label-color="white"
            color="white"
            label="Confirm password"
          >
            <template v-slot:prepend>
              <q-icon color="white" name="lock" />
            </template>
            <template>
              <q-icon
                size="25px"
                name="lock"
                class="cursor-pointer q-mt-md text-grey-7"
                @click="isPwd = !isPwd"
              ></q-icon>
            </template>
          </q-input>

          <div class="col-12 row justify-between">
            <q-btn
              class="text-white text-bold row col-4 q-mt-lg"
              type="a"
              flat
              no-wrap
              no-caps
              @click="$router.push('/')"
            >
              Back
            </q-btn>
            <q-btn
              class="text-white bg-secondary text-bold row col-4 q-mt-lg"
              no-wrap
              no-caps
              type="submit"
            >
              Register
            </q-btn>
          </div>
        </q-card>
      </q-form>
    </div>
  </q-page>
</template>

<script>
import { ref, defineComponent } from "vue";
import { mapActions } from "vuex";

export default defineComponent({
  name: "PageRegisterUser",

  setup() {
    return {
      loading: ref(false),
      name: ref(""),
      surname: ref(""),
      email: ref(""),
      cpf: ref(""),
      phone: ref(""),
      isPwd: ref(""),
      nickname: ref(""),
      password: ref(""),
      confirmPassword: ref(""),
      auth: ref({
        password: ref(""),
      }),
    };
  },
  methods: {
    ...mapActions("user", ["addUser"]),
    register() {
      this.$q.loading.show();
      if (this.password === this.confirmPassword) {
        this.addUser({
          name: this.name,
          surname: this.surname,
          email: this.email,
          cpf: this.cpf,
          phone: this.phone,
          nickname: this.nickname,
          auth: { password: this.password },
        })
          .then((res) => {
            this.$q.loading.hide();
            this.$q.notify({
              position: "bottom",
              color: "positive",
              textColor: "white",
              icon: "check",
              message: "Successfully registered user!",
            });
            this.$router.replace("/");
          })
          .catch((error) => {
            this.$q.loading.hide();

            console.log(error);
            this.$q.notify({
              position: "bottom",
              color: "negative",
              textColor: "white",
              icon: "error",
              message: error.data._error.message,
            });
          });
      } else {
        this.$q.loading.hide();
        this.$q.notify({
          position: "bottom",
          color: "negative",
          textColor: "white",
          icon: "error",
          message: "Passwords do not match",
        });
      }
    },
  },
});
</script>
