<template>
  <q-layout view="lHr Lpr lFr">
    <q-header elevated>
      <q-toolbar>
        <q-toolbar-title> 
        <q-img
          src="/logo.svg"
          alt="Single Point"
          type="a"
          width="200px"
        />  
        
        </q-toolbar-title>
        
        <div>
          <q-btn
            v-if="user.name"
            @click="logout()"
            label="Logout"
            flat
            text-color="white"
          />
        </div>
      </q-toolbar>
    </q-header>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
const linksList = [
  {
    title: "Docs",
    caption: "quasar.dev",
    icon: "school",
    link: "https://quasar.dev",
  },
  {
    title: "Github",
    caption: "github.com/quasarframework",
    icon: "code",
    link: "https://github.com/quasarframework",
  },
  {
    title: "Discord Chat Channel",
    caption: "chat.quasar.dev",
    icon: "chat",
    link: "https://chat.quasar.dev",
  },
  {
    title: "Forum",
    caption: "forum.quasar.dev",
    icon: "record_voice_over",
    link: "https://forum.quasar.dev",
  },
  {
    title: "Twitter",
    caption: "@quasarframework",
    icon: "rss_feed",
    link: "https://twitter.quasar.dev",
  },
  {
    title: "Facebook",
    caption: "@QuasarFramework",
    icon: "public",
    link: "https://facebook.quasar.dev",
  },
  {
    title: "Quasar Awesome",
    caption: "Community Quasar projects",
    icon: "favorite",
    link: "https://awesome.quasar.dev",
  },
];

import { getUser } from "src/store/user/getters";
import { defineComponent, ref } from "vue";
import { mapActions, mapGetters, mapState } from 'vuex';

export default defineComponent({
  name: "MainLayout",

  components: {
    // EssentialLink
  },

  setup() {
    const leftDrawerOpen = ref(true);

    return {
      essentialLinks: linksList,
      leftDrawerOpen,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value;
      },
    };

  },
  methods: {
    ...mapActions('user', ['logoutUser']),
    logout() {
      this.logoutUser()
      this.$router.push('/')
    }
  },
  computed: {
    ...mapGetters('user', ['getUser']),
    ...mapState('user', ['user'])
  }
});
</script>
